.top {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  font-size: 18px;
  height: 64px;
  line-height: 1;
  padding: 0 10px;
  white-space: nowrap;
}
.top-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: inherit;
  font-weight: 400;
  flex: 1;
}
.top-userImg {
  margin: 0 8px 0 10px;
  padding: 2px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 1px solid #eee;
}
.top-button {
  display: flex;
  align-items: center;
}
.top-item {
  margin-right: 8px;
}
.tags-breadcrumb {
  display: flex;
  align-items: center;
  padding: 0 14px;
  height: 50px;
}
.tags-breadcrumb-list {
  padding: 0 15px;
}
.tag-collapse {
  font-size: 36px !important;
}
.tag-collapse.tag-collapse_right {
  transform: rotate(90deg);
}
.tags-container {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 50px;
}
.tags-container:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #E4E7ED;
}
.tags-container .tags-box {
  position: relative;
  box-sizing: border-box;
  padding-right: 106px;
  width: 100%;
  height: 50px;
  background: #fff;
}
.tags-container .tags-list {
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  transition: left .3s ease;
}
.tags-container .tag-item-icon {
  color: #eee;
  font-size: 11px !important;
}
.tags-container .tag-item {
  position: relative;
  display: inline-block;
  min-width: 70px;
  height: 50px;
  line-height: 50px;
  margin: 0 4px 0 0;
  border-radius: 5px 5px 0 0;
  background: #F5F5F5;
  color: #495060 !important;
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  padding: 0 20px;
}
.tags-container .tag-item.is-active {
  position: relative;
  background: white;
  border: solid 1px #E4E7ED;
  border-bottom: none;
  z-index: 10;
  color: #44abf7 !important;
}
.tags-container .tag-close {
  margin-left: 8px;
}
.tags-container .tag-item:hover {
  opacity: .85;
}
.tags-container .tags-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 96%;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: -3px 0 15px 3px rgba(0, 0, 0, 0.1);
}
.contextmenu {
  margin: 0;
  background: #fff;
  top: 64px;
  list-style-type: none;
  padding: 5px 0;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
}
.contextmenu li {
  margin: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  cursor: pointer;
}
.contextmenu li:hover {
  background: #eee;
}
.sidebar-container {
  background: #00142a;
  transition: width .6s;
}
.sidebar-container.is-active {
  width: 64px !important;
}
.nest-menu .el-submenu > .el-submenu__title,
.el-submenu .el-menu-item {
  background-color: #021d3a !important;
}
.nest-menu .el-submenu > .el-submenu__title:hover,
.el-submenu .el-menu-item:hover {
  background: #00142a !important;
}
/*禁止复制
{
	webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1300px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei";
  line-height: 2;
}
html,
body {
  height: 100%;
}
fieldset,
img {
  border: 0;
}
ol,
ul {
  list-style: none;
}
em {
  font-style: normal;
}
input,
button,
select,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
p {
  text-align: justify;
  text-justify: distribute;
}
p {
  word-wrap: break-word;
}
a,
a:hover {
  cursor: pointer;
  text-decoration: none;
}
i,
em {
  font-style: normal;
  display: inline-block;
}
/*a:hover { color: #f60; text-decoration:none; }*/
address,
cite,
code,
em,
th {
  font-weight: normal;
  font-style: normal;
}
a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
/*a:link{color:#009;}*/
/*a:visited{color:#800080;}*/
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.hidden {
  display: none;
}
.padding {
  padding: 0 !important;
}
.margin {
  margin: 0 !important;
}
.mt1 {
  margin-top: 10px !important;
}
.mt2 {
  margin-top: 20px !important;
}
.mt4 {
  margin-top: 40px !important;
}
.mt5 {
  margin-top: 50px !important;
}
.mt6 {
  margin-top: 60px !important;
}
.prl3 {
  padding-left: 30px;
  padding-right: 30px;
}
.ptb3 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.p2 {
  padding: 30px;
}
.prl2 {
  padding-left: 20px;
  padding-right: 20px;
}
.ptb2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.p2 {
  padding: 20px;
}
.prl1 {
  padding-left: 10px;
  padding-right: 10px;
}
.ptb1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.p1 {
  padding: 10px;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.pull-center {
  text-align: center;
}
.pull-flex {
  display: flex;
}
.pull-overflow {
  overflow: hidden;
}
.pull-auto {
  height: auto;
  overflow: hidden;
}
.pull-height {
  height: 100vh;
  overflow: hidden;
}
.pull-fixed {
  position: fixed;
  left: 0;
  top: 0;
}
.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}
.text-primary {
  color: #44abf7 !important;
}
.text-success {
  color: #72c64a !important;
}
.text-danger {
  color: #eb6060 !important;
}
.text-warning {
  color: #E6A23C !important;
}
.text-info {
  color: #3abbdb !important;
}
.text-grey {
  color: #303133;
}
.text-muted {
  color: #C0C4CC;
}
.text-lightgrey {
  color: #606266;
}
.text-secondgrey {
  color: #909399;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-link {
  cursor: pointer;
}
.bg-grey {
  background: #f8f8f8;
}
.bg-darkgrey {
  background: #DCDFE6;
}
.bg-white {
  background: white;
}
.bg-info {
  background: #f2f6fc;
}
.bg-green {
  background: #d7efce;
}
.bg-blue {
  background: #CEE6FF;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.app-main {
  min-height: 100%;
}
.filter-container {
  padding-bottom: 10px;
  text-align: right;
}
.filter-container .filter-item {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}
.app-container {
  padding: 20px;
  box-sizing: border-box;
}
.calendar-list-container {
  margin: 10px;
}
/*气泡*/
.poi-popup {
  bottom: 40px !important;
  font-size: 12px !important;
  cursor: auto;
}
.poi-popup .leaflet-popup-tip {
  width: 10px;
  height: 10px;
}
.poi-popup .leaflet-popup-content {
  margin: 6px 10px;
  text-align: center;
}
.poi-popup .leaflet-popup-tip-container {
  width: 40px;
  height: 6px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  overflow: hidden;
  pointer-events: none;
}
.poi-popup.leaflet-popup {
  position: absolute;
  text-align: center;
  margin-bottom: 0;
}
.poi-popup .leaflet-popup-content {
  cursor: pointer;
}
#mapPoi .leaflet-interactive {
  cursor: auto;
}
h6,
.h6 {
  font-size: 12px;
}
h5,
.h5 {
  font-size: 14px;
}
h4,
.h4 {
  font-size: 16px;
}
h3,
.h3 {
  font-size: 18px;
}
h2,
.h2 {
  font-size: 20px;
}
h1,
.h1 {
  font-size: 22px;
}
.h0 {
  font-size: 24px;
}
.border-circle {
  -webkit-border-radius: 100px !important;
  border-radius: 100px !important;
}
.border-radius {
  -webkit-border-radius: 10px !important;
  border-radius: 10px !important;
}
.cell .el-icon-edit,
.cell .el-icon-delete,
.cell .el-icon-view,
.cell .el-icon-goods,
.cell .icon-chengyuan,
.cell .el-icon-refresh,
.cell .el-icon-tickets {
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: #c2c2c2;
  font-size: 16px;
  text-align: center;
  border: solid 1px #c2c2c2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
.cell .el-icon-edit + .cell .el-icon-edit,
.cell .el-icon-edit + .cell .el-icon-delete,
.cell .el-icon-edit + .cell .el-icon-view,
.cell .el-icon-edit + .cell .el-icon-goods,
.cell .el-icon-edit + .cell .icon-chengyuan,
.cell .el-icon-edit + .cell .el-icon-refresh,
.cell .el-icon-edit + .cell .el-icon-tickets,
.cell .el-icon-delete + .cell .el-icon-edit,
.cell .el-icon-delete + .cell .el-icon-delete,
.cell .el-icon-delete + .cell .el-icon-view,
.cell .el-icon-delete + .cell .el-icon-goods,
.cell .el-icon-delete + .cell .icon-chengyuan,
.cell .el-icon-delete + .cell .el-icon-refresh,
.cell .el-icon-delete + .cell .el-icon-tickets,
.cell .el-icon-view + .cell .el-icon-edit,
.cell .el-icon-view + .cell .el-icon-delete,
.cell .el-icon-view + .cell .el-icon-view,
.cell .el-icon-view + .cell .el-icon-goods,
.cell .el-icon-view + .cell .icon-chengyuan,
.cell .el-icon-view + .cell .el-icon-refresh,
.cell .el-icon-view + .cell .el-icon-tickets,
.cell .el-icon-goods + .cell .el-icon-edit,
.cell .el-icon-goods + .cell .el-icon-delete,
.cell .el-icon-goods + .cell .el-icon-view,
.cell .el-icon-goods + .cell .el-icon-goods,
.cell .el-icon-goods + .cell .icon-chengyuan,
.cell .el-icon-goods + .cell .el-icon-refresh,
.cell .el-icon-goods + .cell .el-icon-tickets,
.cell .icon-chengyuan + .cell .el-icon-edit,
.cell .icon-chengyuan + .cell .el-icon-delete,
.cell .icon-chengyuan + .cell .el-icon-view,
.cell .icon-chengyuan + .cell .el-icon-goods,
.cell .icon-chengyuan + .cell .icon-chengyuan,
.cell .icon-chengyuan + .cell .el-icon-refresh,
.cell .icon-chengyuan + .cell .el-icon-tickets,
.cell .el-icon-refresh + .cell .el-icon-edit,
.cell .el-icon-refresh + .cell .el-icon-delete,
.cell .el-icon-refresh + .cell .el-icon-view,
.cell .el-icon-refresh + .cell .el-icon-goods,
.cell .el-icon-refresh + .cell .icon-chengyuan,
.cell .el-icon-refresh + .cell .el-icon-refresh,
.cell .el-icon-refresh + .cell .el-icon-tickets,
.cell .el-icon-tickets + .cell .el-icon-edit,
.cell .el-icon-tickets + .cell .el-icon-delete,
.cell .el-icon-tickets + .cell .el-icon-view,
.cell .el-icon-tickets + .cell .el-icon-goods,
.cell .el-icon-tickets + .cell .icon-chengyuan,
.cell .el-icon-tickets + .cell .el-icon-refresh,
.cell .el-icon-tickets + .cell .el-icon-tickets {
  margin-left: 7px;
}
label + .el-input,
label + .el-select {
  margin-left: 8px;
}
.el-input {
  width: auto;
}
.el-input.block {
  width: 100%;
}
.el-select + .el-select {
  margin-left: 12px;
}
.el-input__inner {
  height: 40px;
  line-height: 40px;
  color: #303133;
  font-size: 16px;
  border-radius: 4px;
}
.el-input__inner::placeholder {
  color: #C0C4CC;
}
.todo-button button {
  height: 40px;
  font-size: 14px;
}
.todo-button button + button {
  margin-left: 40px !important;
}
.el-table__header thead tr th {
  color: #303133;
  font-weight: 500;
  font-size: 16px;
  background: #e8f3ff;
}
.form-wrapper {
  width: 900px;
  margin: 0 auto;
}
.form-wrapper .el-form-item__label {
  font-weight: 500;
  font-size: 18px;
}
.form-wrapper .el-input {
  width: 510px;
}
.form-wrapper .el-select {
  width: 162px;
}
.form-wrapper .el-select > .el-input {
  width: 100%;
}
textarea {
  font-size: 16px;
  font-family: "Microsoft YaHei";
}
textarea::placeholder {
  font-size: 16px;
}
.super-table {
  width: 100%;
}
.super-table td {
  height: 44px;
  padding: 0 !important;
}
.super-table .hover-row td {
  background: transparent !important;
}
.super-table .cell {
  padding: 0;
}
.super-table .cusDate {
  moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.super-table .tips {
  position: absolute;
  top: 5px;
  right: 7px;
  color: #409EFF;
  font-size: 16px;
}
.super-table .active {
  background: #409EFF !important;
}
.super-table .gou {
  position: absolute;
  bottom: 0;
  right: 0;
}
.super-table .image {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #ff9f7f;
  cursor: pointer;
}
/*# sourceMappingURL=common.css.map */